  <header>
    <div class="lineblue"></div>
      <div class="lineorange"></div>
      
    <center><a href="#"><img class="atameken" src="http://atameken.kz/img/media/logo.png">
     </a>
    </center>
      <input type="checkbox" id="nav-toggle" hidden>
      <nav class="nav">

       <label for="nav-toggle" class="nav-toggle" onclick></label>
        <ul>
   <li><%= link_to "Домой",    root_path %></li>
   <li><%= link_to "Помощь",    help_path %></li>
   <li><%= link_to "Войти", login_path %></li>
   <li><a href="#4">Настройки</a>
   <li><a href="#5">Выход</a>
</ul>
</nav>
<div class="mask-content"></div>
  </header>
  <center>
  <div class="div logospace">
     <!-- <a href="#"><img class="logoauth" src="https://bi-group.org/img/logo.png"></a> -->
    </div>
    </center>